﻿body {
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: 'Times New Roman';
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.validation {
    margin-left: 5px;
    color: red;
}

.fizz {
    color: blue;
}

.buzz {
    color: green;
}

.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: #ff0000;
    border-color: black;
}
