﻿@model FizzBuzz.Web.Models.FizzBuzzNumberModel


    <div>
        @foreach (var item in Model.Pages)
        {
             var result = item.Split(' ');
            foreach(var value in result)
            {
            <span class="@value">@value</span>
            }
             <br />
        }
        </div>   
