﻿<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title - Fizz Buzz</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/ bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
