﻿@model FizzBuzz.Web.Models.FizzBuzzNumberModel
@using PagedList.Mvc

@using (Html.BeginForm("FizzBuzzResult", "FizzBuzz", FormMethod.Get))
{
    <div class="align">
        <h4>Fizz Buzz</h4>
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Number, "Enter Value", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>

        @if (Model != null)
        {
            @Html.Partial("_FizzBuzzResult", Model)        
   
            <div class="align">
                @Html.PagedListPager(Model.Pages, page => Url.Action("FizzBuzzResult", new { page, Number = Model.Number }))
            </div>
        }
    </div>
     
}