﻿@using PagedList.Mvc
@model FizzBuzzWeb.Models.FizzBuzzModel

@using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(a => a.Input, "Enter The Integer : ")
        @Html.TextBoxFor(m => m.Input, new { @id = "Input", placeholder = "Enter Integer Number", Value = "" })
        @Html.ValidationMessageFor(m => m.Input)
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn-default" />
    </div>
    <div>
        @if (Model.FizzBuzzNumbers != null)
        {
            foreach (var val in Model.FizzBuzzNumbers)
            {
                <div class="@val">@val</div>
            }
            <div>
                Page @(Model.FizzBuzzNumbers.PageCount < Model.FizzBuzzNumbers.PageNumber ? 0 : Model.FizzBuzzNumbers.PageNumber) of @Model.FizzBuzzNumbers.PageCount
                @Html.PagedListPager(Model.FizzBuzzNumbers, page => Url.Action("Navigate", "FizzBuzz", new { Model.Input, page }))
            </div>
        }
    </div>
}